@import "tailwindcss";
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background:#ffffff;
    color:#111827;
     overflow-x:hidden;
}

.heading{
    font-family:'Space Grotesk', sans-serif;
}

.ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ql-container {
  min-height: 350px;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ql-editor {
  min-height: 350px;
}